  .App {
    text-align: center;
  }

  .App-logo {
    height: 40vmin;
    pointer-events: none;
  }

  @font-face {
    font-family: 'Insanibu';
    src: url('./assets/fonts/Insanibu.woff') format('woff');
  }

  @media (prefers-reduced-motion: no-preference) {
    .App-logo {
      animation: App-logo-spin infinite 20s linear;
    }
  }

  .autoFlex{
    display: flex;
    flex-direction: row;
        
  }

  .sectionMargin1 {
    margin-top: 4rem;
    margin-left: 2rem;
  }

  .navFlex {
    display: flex;
    flex-direction: row;
    justify-content: flex-end;
    margin-bottom: -0.5rem;
  }

  .navLogo {
    width: 6vw;
  }

  .navOwner {
    width: 8vw;
  }

  .carouselImage1 {
    background-image: url("./assets/img/quiriSlide1.png");
    width: 100%;
    min-height: 50rem;
    background-position: center;
    background-repeat: no-repeat;
    background-size: cover;
    align-content: center;
  }

  .carouselImage2 {
    background-image: url("./assets/img/quiriSlide2.png");
    width: 100%;
    min-height: 50rem;
    background-position: center;
    background-repeat: no-repeat;
    background-size: cover;
    align-content: center;
  }

  .cartBtn {
    width: 100%;
    padding: 0.875rem;
    border: 0.125rem;
    letter-spacing: 0.063rem;
    text-transform: uppercase;
    text-align: center;
    color: rgb(255, 145, 71);
    justify-content: right;
  }

  .cartBtn:hover {
    background-color: rgb(255, 145, 71);
    color: #FFFF;
    transition: 0.2s;
  }

  .btn {
    padding: 0.875rem 1.25rem 0.5rem;
    border: 0.125rem;
    letter-spacing: 0.063rem;
    text-transform: uppercase;
    text-align: center;
    color: rgb(255, 145, 71);
    justify-content: right;
  }

  .btn:hover {
    background-color: rgb(255, 145, 71);
    color: #FFFF;
    transition: 0.2s;
  }

  .btnShopCartSize {
    display: flex;
    flex-direction: row;
    padding-top: 1rem;
  }

  .menuTitle {
    text-transform: capitalize;
    font-family: 'Insanibu';
    font-size: xx-large;
    display: flex;
    justify-content: center;
    text-align: justify;
    margin-bottom: 2rem;
    color: rgb(255, 145, 71);
    padding: 1rem;
  }

  .menuDescription {
    text-transform: capitalize;
    font-family: 'Insanibu';
    font-size: large;
    display: flex;
    justify-content: center;
    text-align: justify;
    margin-right: 10rem;
    margin-left: 10rem;
    margin-bottom: 2rem;
    margin-top: -2rem;
    color: rgb(124, 78, 47);
    padding: 1rem;
  }

  .menuCardRow {
    display: flex;
    justify-content: center;
    padding-right: 5rem;
    padding-left: 5rem;
  }

        .menuCardStyle {
          margin-top: 0.5rem;
          margin-bottom: 1.5rem;
          background-color: rgb(255, 255, 255);
          border-radius: 1.5rem;
          padding: 1.5rem;
          padding-top: 0.5rem;
          transition: all .2s ease-in-out;
          box-shadow: 0 4px 8px 0 rgba(0, 0, 0, 0.2), 0 6px 20px 0 rgba(0, 0, 0, 0.19);
        }

  .menuCardStyle:hover {
    transform: scale(1.1);
    box-shadow: 0 2px 4px 0 rgba(0, 0, 0, 0.2), 0 3px 10px 0 rgba(0, 0, 0, 0.19);
  }

  .cardImageBox {
    background-color: rgb(255, 145, 71);
    border-radius: 1.5rem;
    margin-top: -0.5rem;
    margin-left: -1.5rem;
    margin-right: -1.5rem;
    border-bottom-left-radius: 0rem;
    border-bottom-right-radius: 0rem;
  }

  .cardProductImage {
    width: 100%;
  }

  .cardProductImagePotato {
    width: 80%;
  }

  .cardProductTitle {
    font-family: 'Insanibu';
    font-size: x-large;
    font-weight: 400;
    margin-top: 1rem;
    text-transform: uppercase;
    text-align: center;
    letter-spacing: 0.1rem;
    color: rgb(124, 78, 47);
  }

  .cardProductDescription {
    font-family: 'Insanibu';
    font-size: large;
    text-align: justify;
    text-justify: distribute;
    text-align-last: left;
    hyphens: manual;
    color: rgb(124, 78, 47);
  }

  .shopCartList {
    font-family: 'Insanibu';
    font-size: 1rem;
    letter-spacing: .01em;
    color: black;
    padding: 1rem;
    margin-top: -1.5rem;
  }

  .shopCartBtnCenter {
    display: flex;
    justify-content: center;
  }

  .cardShopCartBtnGroup {
    font-family: 'Insanibu';
    width: 100%;
    margin-top: 1rem;
    margin-right: 0.2rem;
    border-radius: 0.5rem;
    display: flex;
    justify-content: center;
    padding: 0.5rem;
    border: 0.125rem;
    letter-spacing: 0.063rem;
    text-transform: uppercase;
    color: rgb(255, 145, 71);
  }

  .cardShopCartBtnGroup:hover {
    background-color: rgb(255, 145, 71);
    color: #FFFF;
    transition: 0.2s;
  }

  .cardShopCartBtnSingle {
    font-family: 'Insanibu';
    width: 100%;
    margin-top: 1rem;
    border-radius: 0.5rem;
    display: flex;
    justify-content: center;
    padding: 0.5rem;
    border: 0.125rem;
    letter-spacing: 0.063rem;
    text-transform: uppercase;
    color: rgb(255, 145, 71);
  }

  .cardShopCartBtnSingle:hover {
    background-color: rgb(255, 145, 71);
    color: #FFFF;
    transition: 0.2s;
  }

  .parallax {
    background-image: url("./assets/img/closeBurgerSalad.png");
    min-height: 25rem;
    background-attachment: fixed;
    background-position: center;
    background-repeat: no-repeat;
    background-size: cover;
    align-content: baseline;
    display: 'flex';
    justify-content: 'center';
    margin-top: 1rem;
  }

  .parallaxLogo {
    width: 40%;
    display: flex;
    justify-content: center;
    padding: 5rem;
  }

  .restaurantText {
    font-family: 'Insanibu';
    display: flex;
    flex-direction: column;
    justify-content: flex-start;
    text-align: justify;
    padding-right: 3rem;
    padding-left: 3rem;
    font-size: 1rem;
    letter-spacing: 0.1rem;
    color: rgb(124, 78, 47);
  }

  .footerBgColor {
    margin-top: 2rem;
    background-image: linear-gradient(rgba(255, 0, 0, 0), rgb(255, 145, 71));
  }

  .socialMediaLogo {
    width: 2.5vw;
    margin-right: 1rem;
    margin-left: 1rem;
  }

  .logoLayout {
    display: flex;
    flex-direction: row;
    justify-content: center;
    margin-top: 2rem;
    letter-spacing: .01em;
  }

  .footerTextLayout {
    display: flex;
    flex-direction: row;
    justify-content: center;
    margin-top: 2rem;
    font-family: 'Insanibu';
    font-size: 2rem;
  }

  .restaurantLoungeImg {
    margin-left: 2rem;
    width: 80%;
  }

  @media (max-width: 414px) {

    .navLogo {
      width: 14vw;
    }

    .navOwner {
      width: 20vw;
    }

    .carouselImage1 {
      background-image: url("./assets/img/quiriSlideMobile1.png");
      height: 80vh;
    }

    .carouselImage2 {
      background-image: url("./assets/img/quiriSlideMobile2.png");
      height: 80vh;
    }

    .menuCardStyle {
      margin-right: -2rem;
      margin-left: -2rem;
      font-size: x-large;
    }

    .cardProductTitle {
      font-size: xx-large;
    }

    .cardProductDescription {
      font-size: x-large;
    }    

    .parallaxLogo {
      width: 200%;
    }

  }

  @media (max-width: 992px) {

    .btn {
      margin-left: 10rem;
      background-color: rgb(255, 145, 71);
      color: #FFFF;
    }

  }

  @media (max-width: 1280px) {

    .btn {
      padding: 0.3rem;
    }

    .cardShopCartBtn {
      background-color: rgb(255, 145, 71);
      color: #FFFF;
    }

    .parallax {
      min-height: 25rem;
    }

    .logoLayout {
      margin-top: 1rem;
    }

  }

  @keyframes App-logo-spin {
    from {
      transform: rotate(0deg);
    }

    to {
      transform: rotate(360deg);
    }
  }